In [1]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

train.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [2]:
data_train = pd.get_dummies(train)

data_train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [3]:
data_test = pd.get_dummies(test)

data_test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,0,1,0,1,0
1,893,3,47.0,1,0,7.0000,1,0,0,0,1
2,894,2,62.0,0,0,9.6875,0,1,0,1,0
3,895,3,27.0,0,0,8.6625,0,1,0,0,1
4,896,3,22.0,1,1,12.2875,1,0,0,0,1

In [4]:
data_train.isnull().sum().sort_values(ascending=False).head(5)

Age           177
Embarked_S      0
Embarked_Q      0
Embarked_C      0
Sex_male        0
dtype: int64

In [5]:
data_test.isnull().sum().sort_values(ascending=False).head(5)

Age           86
Fare           1
Embarked_S     0
Embarked_Q     0
Embarked_C     0
dtype: int64

In [6]:
data_train['Age'].fillna(data_train['Age'].mean(), inplace=True)
data_test['Age'].fillna(data_test['Age'].mean(), inplace=True)

In [7]:
data_train.isnull().sum().sort_values(ascending=False).head(5)

Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
dtype: int64

In [8]:
data_test.isnull().sum().sort_values(ascending=False).head(5)

Fare          1
Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
dtype: int64

In [9]:
data_test['Fare'].fillna(data_test['Fare'].mean(), inplace=True)

In [10]:
x = data_train.drop('Survived', axis=1)
y = data_train['Survived']

In [11]:
tree = DecisionTreeClassifier(max_depth=1000, random_state=0)
tree.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=1000,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [12]:
tree.score(x, y)

1.0

In [44]:
submission = pd.DataFrame()
submission['PassengerId'] = data_test['PassengerId']
submission['Survived'] = tree.predict(data_test)

submission.to_csv('submission.csv', index=False)